sentry-sdk==2.37.1
pydantic_core==2.33.2
GitPython==3.1.45
requests==2.32.5
idna==3.10
urllib3==2.5.0
charset-normalizer==3.4.3
protobuf==6.32.0
typing-inspection==0.4.1
platformdirs==4.4.0
pip==25.1.1
certifi==2025.8.3
gitdb==4.0.12
typing_extensions==4.15.0
click==8.2.1
packaging==25.0
pydantic==2.11.7
PyYAML==6.0.2
smmap==5.0.2
annotated-types==0.7.0
wandb==0.21.3
